<%= form_for(@keep) do |f| %>
  <% if @keep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keep.errors.count, "error") %> prohibited this keep from being saved:</h2>

      <ul>
      <% @keep.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :board_id %><br />
    <%= f.collection_select(:board_id,@boards,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select(:user_id,@users,:id,:user_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
